@model webAPI.Application.ViewModels.EmployeeViewModel
@*<div class="container body-conent">
	<div class="row product-content">
		@foreach(var employee in Model.employees){
			<div class="productname">
				<span>@employee.Name</span>
			<div class="product-Description">
				<span>@employee.Id</span>
			</div>
			<div class="product-Description">
				<span>@employee.ReprotsTo</span>
			</div>
			</div>
			
		}

	</div>
</div>
*@